@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Playfair+Display:wght@700;900&display=swap');

:root {
    --primary-color: #2F434B;
    --secondary-color: #237278;
    --background: #FAFBFD;
    --background-accent: #EDEEF2;
    
    --size-xl: 8rem;
    --size-l: 4rem;
    --size-m: 2rem;
    --size-s: 1rem;
    --size-xs: 0.5rem;
}
/* reset */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 16px;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* basic styles */
body{
    font-family: 'Oswald', sans-serif;
    background-color: var(--background);
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    color: var(--primary-color);
}

h3{
    font-family: 'Oswald', sans-serif;
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

h1{
    font-size: 5rem;
    line-height: 1.1;
}

h2{
    font-size: 3rem;
}

p{
    font-weight: 300;
    color: var(--primary-color);
    letter-spacing: 0.10rem;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
    height: 100%;
}
.full-height{
    height: 100%;
}
.center{
    display: grid;
    place-items: center;
}

.flex{
    display: flex;
}

.flex.collumn {
    flex-direction: column;
}

.flex.align{
    align-items: center;
}

.flex.justify{
    justify-content: center;
}
.flex.spaced {
    justify-content: space-between;
}

.flex.top{
    align-items: flex-start;
}

.flex.left {
    align-items: flex-start;
}

.gap{
    gap: var(--size-l);
}
.gap.small{
    gap: var(--size-s);
}
.gap.smaller{
    gap: var(--size-xs);
}

.button{
    background-color: var(--primary-color);
    color: var(--background);
    text-transform: uppercase;
    line-height: 1;
    padding:  var(--size-s) calc(var(--size-s) + var(--size-xs));
    border-radius: var(--size-xs);
    font-weight: 300;
    letter-spacing: 0.10rem;
    border: none;
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: var(--size-s);
}
.button:hover{
    background-color: var(--secondary-color);
}
.button.danger{
    background-color: #693636;
   
}

.button.danger:hover{
    background-color: #962D2D;
}

a{
    text-decoration: none;
}

.hamburger{
    display: flex !important;
    align-items: center;
}

input{
    border-radius: var(--size-xs);
    padding: var(--size-xs) var( --size-s);
    border-color: var(--primary-color);
    margin-bottom: var(--size-xs);
    border-width: 1px;
    background-color: var(--background);
}